

.driverDataPageContainer {
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  background-color: var(--secondary-background-color);
  padding: 50px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}

.driverDataPageGraphContainer {
  background-color: var(--primary-background-color);
  height: 400px;
  width: 95%;
  max-width: 1000px;
  margin-top: 15px;
}

.driverDataPageBreakdownContainer {
  height: 290px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1000px;
  margin-top: 20px;
}

.driverDataPageText {
  font-size: 16px;
  margin-top: 0px;
}

.driverDataPageTable {
  height: 500px;
  width: 95%;
  border: 1px solid var(--primary-color);
  margin-top: 10px;
  display: grid;
  grid-template-rows: 35px 465px;
  background-color: var(--primary-background-color);
}