


.editModifiersContainer {
  height: 500px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-background-color);
  transition-duration: 250ms;
  display: grid;
  grid-template-rows: 70px 60px auto 70px;
}

.editModifiersSearchContainer {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  display: grid;
  grid-template-columns: auto 200px;
  align-items: center;
  justify-items: center;
}

.editModifiersSearchInput {
  width: 95%;
  height: calc(60% - 4px);
}

.editModifiersSearchButton {
  height: 60%;
  width: 80%;
}

.editModifiersBodyContainer {
  overflow-y: auto;
}

.editModifiersModifierContainer {
  height: 60px;
  width: calc(100% - 20px);
  margin: 0px 10px 0px 10px;
  border-bottom: 1px solid var(--primary-color);
  display: grid;
  grid-template-columns: auto 250px;
  align-items: center;
}

.editModifiersModifierText {
  padding-left: 10px;
  margin: 0px;
}

.editModifiersModiferButton {
  height: 70%;
  width: 60%;
  justify-self: end;
  margin-right: 10px;
}

.editModifiersFooterContainer {
  height: 100%;
  width: 100%;
  border-top: 1px solid var(--primary-color);
  display: grid;
}

.editModifiersCloseButton {
  height: 70%;
  width: 250px;
  align-self: center;
  justify-self: end;
  margin-right: 10px;
}