


.customerDataPageContainer {
  background-color: var(--secondary-background-color);
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  padding: 50px;
}

.customerDataPageButtonsContainer {
  display: grid;
  grid-template-columns: auto auto;
  width: 95%;
  height: 35px;
}

.customerDataPageEmailButton {
  width: 250px;
  height: 50px;
  position: relative;
  top: -20px;
  right: -1px;
  justify-self: end;
}

.customerDataHeaderContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.customerDataPageCheckbox {
  margin-right: 10px;
  align-self: center;
}

.customerDataPageItemNameContainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: left;
  align-items: center;
  justify-self: left;
  margin-left: 10px;
}

.customerDataPageInterfaceContainer {
  height: 80%;
  width: 95%;
  border: 1px solid var(--primary-color);
  margin-top: 10px;
  display: grid;
  grid-template-rows: 11% 7% 82%;
  background-color: var(--primary-background-color);
}

.customerDataPageSearchContainer {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}

.customerDataPageSearchInput {
  height: calc(60% - 6px);
  width: 95%;
  justify-self: center;
}

.customerDataPageSearchButton {
  height: 60%;
  width: 90%;
  justify-self: start;
}