


.itemDrawerContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 750px;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 3;
  border-left: 1px solid var(--primary-color);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(.43,.67,.18,1);
  display: grid;
  grid-template-rows: 225px auto 75px;
}

.itemDrawerHeaderContainer {
  position: relative;
  overflow: hidden;
}

.itemDrawerHeaderImage {
  height: 200%;
  width: 100%;
  position: relative;
  top: -50%;
  size: cover;
}

.itemDrawerHeaderTextContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.itemDrawerHeaderImageModificationButton {
  position: absolute;
  bottom: 0;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
  color: white;
}

.itemDrawerHeaderImageModificationButton:hover {
  background-color: white;
  color: black;
}

.itemDrawerHeaderRemoveItemButton {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  right: 10px;
}

.itemDrawerHeaderRemoveItemButton:hover {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0);
}

.itemDrawerHeaderText {
  color: white;
  margin-left: 10px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
}

.itemDrawerFooter {
  border-top: 2px solid var(--primary-color);
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.itemDrawerFooterButton {
  height: 70%;
  width: 96%;
}