


.orderItemModuleContainer {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 12.5% 87.5%;
  grid-template-rows: 1fr;
  border-bottom: 1px solid var(--primary-color);
}

.orderItemModuleQuantityText {
  grid-column: 1;
  color: var(--primary-color);
  margin: 0px;
  font-size: 2em;
  align-self: center;
  justify-self: center;
}

.orderItemModulePrimaryText {
  display: inline-block;
  margin: 0px;
  font-size: 1.3em;
  margin-top: 10px;
}

.orderItemModuleSecondaryText {
  display: block;
  margin: 0px;
  font-size: 0.9em;
  margin-top: 3px;
}