
/* 
rgb(190, 37, 70) -- dark pink
rgb(22, 135, 143) -- turquoise 
*/

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 1.25em;
}

h1 {
  font-size: 2.5em;
}

p {
  color: var(--tertiary-color);
}

button {
  cursor: pointer;
  font-size: 16px;
  transition-duration: 150ms;
}

button:focus {
  outline: none;
}

.portalPageContainer {
  overflow: hidden;
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: 300px auto;
  height: 100vh;
  background-color: var(--secondary-background-color);
}

.primaryButton, .secondaryButton:hover {
  background-color: var(--primary-color);
  color: var(--header-font-color);
  border: 1px solid var(--primary-color);
}

.secondaryButton {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.shrunkenContainer {
  transform: translate(-50%, -50%) scale(.95);
  opacity: 0;
  pointer-events: none;
}

.portalPageBackdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--backdrop-overlay-color);
  cursor: pointer;
}