
.salesOverviewContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 500px;
  width: 90%;
  padding: 0% 5%;
  justify-self: center;
}

@media(max-width: 1500px) {
  .salesOverviewContainer {
    width: 100%;
    padding: 0%;
  }
}

.textContainer {
  display: grid;
  align-items: center;
  justify-items: left;
  height: 50%;
  width: 80%;
  justify-self: center;
  align-self: center;
  max-width: 500px;
}

.salesOverviewGraph {
  height: 50%;
  width: 80%;
  align-self: center;
  justify-self: center;
  background-color: var(--primary-background-color);
}

.salesOverviewButton {
  height: 50px;
  width: 200px;
  transition-duration: 150ms;
}

.salesOverviewButton:hover {
 box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}