

.viewPreviousOrdersContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 550px;
  width: 900px;
  transition-duration: 250ms;
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-rows: 70px 80px auto 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.previousOrdersSearchContainer {
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 175px 120px 220px 170px auto;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--primary-color);
}

.previousOrdersSearchButton {
  height: 60%;
  width: 80%;
}

.previousOrdersBody {
  overflow-y: auto;
}

.noPreviousOrdersText {
  width: 100%;
  text-align: center;
  color: rgb(124, 124, 124);
}

.previousOrderContainer {
  height: 70px;
  width: calc(95% - 25px);
  margin: 0% 2.5%;
  border-bottom: 1px solid var(--primary-color);
  position: relative;
  display: grid;
  grid-template-columns: 5% 25% 35% 35%;
  padding-right: 25px;
  align-items: center;
  justify-items: end;
}

.previousOrderPlusExpander {
  left: -10px;
  position: relative;
  justify-self: start;
}

.previousOrderPlusExpanderColor {
  background-color: var(--tertiary-color);
}

.previousOrdersFooter {
  height: 80px;
  width: 100%;
  border-top: 1px solid var(--primary-color);
  display: grid;
}

.previousOrdersFooterButton {
  height: 70%;
  width: 250px;
  align-self: center;
  justify-self: end;
  margin-right: 10px;
}