


.portalToolsPageContainer {
  overflow-y: auto;
}

.portalToolsPageDriversToolContainer {
  display: grid;
  grid-template-rows: 50px auto;
}

.portalToolsPageDriverText {
  color: var(--tertiary-color);
}