.menuItem {
  height: 90%;
  width: 260px;
  border: 1px solid black;
  position: absolute;
  cursor: pointer;
  transition-duration: 200ms;
  bottom: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: 10px;
}

.menuItem:hover {
  bottom: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.menuItemImage {
  position: absolute;
  height: 100%;
  width: 100%;
}

.menuItemNameBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.menuItemName {
  color: white;
  margin-left: 10px;
}