

.cornerCloseButtonContainer {
  background-color: var(--primary-color);
  height: 50px;
  width: 50px;
  display: grid;
  position: absolute;
  right: 0px;
  top: 15px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.cornerCloseButtonText {
  font-size: 36px;
  align-self: center;
  justify-self: center;
  color: var(--header-font-color);
  margin: 0px;
  position: relative;
  top: -1px;
}