

.confirmActionModuleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  width: 400px;
  background-color: white;
  border: 1px solid var(--primary-color);
  z-index: 3;
  display: grid;
  grid-template-rows: 50px auto 70px;
}

.confirmActionModuleHeaderContainer {
  margin-left: 10px;
  border-bottom: 1px solid var(--primary-color);
}

.confirmActionModuleHeaderText {
  color: var(--primary-color);
  margin: 13px 0px 5px 0px;
}

.confirmActionModuleBodyText {
  margin-left: 10px;
}

.confirmActionModuleButtonsContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.confirmActionModuleButton {
  height: 70%;
  width: 90%;
}