.menuSection {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 75px auto;
  overflow-x: hidden;
  position: relative;
}

.menuSectionHeader {
  color: var(--primary-color);
  grid-row: 1;
  grid-column: 2;
  align-self: bottom;
  margin: 0px;
  margin-top: 25px;
}

.menuItemsContainer {
  height: 200px;
  position: relative;
  grid-row: 2;
  grid-column: 2;
  overflow: hidden;
}

.moveMenuButtonLeft, .moveMenuButtonRight {
  grid-row: 2;
  height: 35px;
  width: 20px;
  align-self: center;
  justify-self: center;
  padding: 0px;
  transform: scaleY(1.5);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}

.moveMenuButtonLeft:hover, .moveMenuButtonRight:hover {
  background-color: var(--primary-color);
  color: white;
}