.menuSection {
  height: 100%;
  width: calc(100% - 50px);
  overflow-x: hidden;
  position: relative;
}

.menuSectionHeader {
  color: var(--primary-color);
}

.menuItemsContainer {
  height: 200px;
  position: relative;
}