

.portalPageSideBarContainer {
  display: grid;
  grid-template-rows: 60px auto auto;
  z-index: 1;
}

.portalPageSideBarHeaderContainer {
  height: 50px;
  width: calc(100% - 10px);
  background-color: var(--primary-color);
  margin-right: 10px;
  margin-top: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.portalPageSideBarHeader {
  margin: 0px;
  color: var(--header-font-color);
  font-size: 20px;
}

.portalPageSideBarBody {

}

.portalPageSideBarBodyItem {
  height: 45px;
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-top: 7px;
  display: grid;
  grid-template-columns: auto 40px;
  background-color: var(--primary-background-color);
  align-items: center;
  justify-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.portalPageSideBarBodyText {
  margin: 0px;
}

.portalPageSideBarBodyCloseButton {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 24px;
  color: var(--primary-color);
  position: relative;
  top: -1px;
}

.portalPageSideBarFooter {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 250px;
  align-self: end;
  background-color: var(--primary-background-color);
  border-right: 1px solid var(--primary-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.portalPageSideBarFooterOpenButton {
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.portalPageSideBarFooterOpenButtonText {
  color: var(--header-font-color);
  margin: 0px;
  font-size: 32px;
  font-weight: 100;
  transform: scaleX(4);
  position: relative;
  top: 4px;
}

.portalPageSideBarFooterButton {
  height: 85%;
  width: 95%;
  align-self: center;
  justify-self: center;
}

.portalPageSideBarFooterOpenArrow {
  width: 50px;
  height: 100%;
  position: relative;
}

.portalPageSideBarFooterOpenArrow::before, .portalPageSideBarFooterOpenArrow::after {
  content: '';
  height: 30px;
  width: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
}

.portalPageSideBarFooterOpenArrow::before {
  left: 25%;
  transform: translate(50%, -50%) rotate(45deg);
}

.portalPageSideBarFooterOpenArrow::after {
  right: 25%;
  transform: translate(-50%, -50%) rotate(-45deg);
}