:root {
  --menu-rows: 4;
}

.menuPageContainer {
  overflow-x: hidden;
  height: 100vh;
  width: calc(100vw - 300px);
}

.menuContainer {
  display: grid;
  grid-template-rows: repeat(var(--menu-rows), 285px);
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: relative;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
}

.menuOverlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  transition-duration: 250ms;
  opacity: 1;
  cursor: pointer;
}

.menuOverlayHidden {
  opacity: 0;
  pointer-events: none;
}
