

.toolsPageContainer {
  overflow-x: hidden;
  height: calc(100vh - 20px);
  width: calc(100vw - 330px);
  background-color: #F3F3F3;
  padding-top: 20px;
  padding-left: 30px;
  position: relative;
}

.toolsPageWrapper {
  max-width: 990px;
}

.toolsPageSwitchContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 60px;
  margin: 0px 10px;
}

.toolsPageText {
  margin: 0px;
  align-self: center;
  font-size: 18px;
}

.hiddenContent {
  display: none !important;
}

.toolsPageButton {
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.toolsPageDriversToolContainer {
  display: grid;
  grid-template-rows: 50px auto 75px;
}

.toolsPageDriversHeaderTextContainer {
  height: 100%;
  display: grid;
  padding-left: 10px;
  width: calc(100% - 10px);
  border-bottom: 1px solid var(--primary-color);
}

.toolsPageDriversContainer {
  padding-bottom: 10px;
}

.toolsPageDriverContainer {
  display: grid;
  grid-auto-flow: column;
  padding: 0px 15px;
  height: 50px;
}

.toolsPageDriverText {
  text-decoration: underline;
  cursor: pointer;
}

.toolsPageDriverText:hover {
  color: var(--primary-color);
}

.toolsPageDriverButton {
  height: 35px;
  width: 100px;
  align-self: center;
  justify-self: end;
}

.toolsPageDriverFooterContainer {
  border-top: 1px solid var(--primary-color);
  display: grid;
}

.toolsPageAddNewDriverButton {
  height: 75%;
  width: 95%;
  align-self: center;
  justify-self: center;
}