

/* :root {
  --primary-color: #BE2525;
  --secondary-color: #FF6B6B;
  --tertiary-color: rgb(255, 255, 255);
  --primary-background-color: rgb(31, 31, 31);
  --secondary-background-color: rgb(20, 20, 20);
  --header-font-color: rgb(255, 255, 255);
  --backdrop-overlay-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
} */


:root {
  --primary-color: #BE2525;
  --secondary-color: #FF6B6B;
  --tertiary-color: black;
  --primary-background-color: white;
  --header-font-color: white;
  --secondary-background-color: rgb(245, 245, 245);
  --backdrop-overlay-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}


/* 
rgb(190, 37, 70) -- dark pink
rgb(22, 135, 143) -- turquoise 
*/

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 1.25em;
}

h1 {
  font-size: 2.5em;
}

p {
  color: var(--tertiary-color);
}

button {
  cursor: pointer;
  font-size: 16px;
  transition-duration: 150ms;
}

button:focus {
  outline: none;
}

.App {
  display: grid;
  grid-template-columns: 300px auto;
  overflow: hidden;
  height: 100vh;
}

.primaryButton, .secondaryButton:hover {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.secondaryButton {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.shrunkenContainer {
  transform: translate(-50%, -50%) scale(.95);
  opacity: 0;
  pointer-events: none;
}