

:root {
  --primary-color: #BE2525;
  --secondary-color: #FF6B6B;
  --header-color: white;
}

button {
  cursor: pointer;
  font-size: 16px;
  transition-duration: 150ms;
}

.App {
  display: grid;
  grid-template-columns: 300px auto;
  overflow: hidden;
}

.primaryButton, .secondaryButton:hover {
  background-color: var(--primary-color);
  color: var(--header-color);
  border: 1px solid var(--primary-color);
}

.secondaryButton {
  background-color: var(--header-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}