
.sideBarButton {
  height: 90%;
  width: 95%;
  align-self: center;
  justify-self: center;
}

.primaryTextColor {
  color: var(--primary-color);
}

.whiteText {
  margin: 0px;
  color: var(--header-font-color);
}

.sideBarContainer {
  height: 100vh;
  width: 299px;
  border-right: 1px solid var(--primary-color);
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-rows: 95px auto 250px;
  z-index: 1;
}

.sideBarHeader {
  height: 65px;
  width: calc(100% - 10px);
  background-color: var(--primary-color);
  display: grid;
  padding: 15px 0px;
  padding-left: 10px;
  justify-items: left;
  align-items: center;
}

.notificationContainer {
  display: grid;
  grid-template-rows: 65px auto;
}

.notificationHeaderContainer {
  border-bottom: 1px solid var(--primary-color);
}

.notificationBodyContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.notificationItemContainer {
  height: auto;
  width: 92.5%;
  background-color: var(--primary-background-color);
  border: 1px solid var(--primary-color);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 15px;
  display: grid;
  grid-template-columns: 85% 15%;
  z-index: 1;
}

.notificationItemContainerClosed {
  left: 100%;
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
}

.notificationItemTextContainer {
  cursor: pointer;
  transition-duration: 150ms;
  background-color: var(--primary-background-color);
}

.notificationItemTextContainer:hover {
  background-color: var(--secondary-background-color);
}

.notificationItemText {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.notificationCloseButton {
  font-size: 24px;
}

.logo {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .5;
}

.notificationFooter {
  display: grid;
  grid-template-rows: repeat(4, auto);
  border-top: 1px solid var(--primary-color);
  padding-top: 5px;
}